@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,400;1,500;1,700;1,800;1,900&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --main_bg_color_bl: #0cc1e1;
    --main_bg_color_wt: whitesmoke;
    --text-main-color: #0d0c0c;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: white;
    overflow-x: hidden;
    font-family: "BPG Nateli", sans-serif;
}
::selection {
    color: var(--main_bg_color_wt);
    background-color: rgb(63, 62, 62);
}
/*===========================navbar-section=============================*/

.navbar_container {
    position: fixed;
    width: 100%;
    transition: all 0.5s;
    z-index: 900;
    background-color: var(--main_bg_color_wt);
}

.navbar_container.active {
    transition: all 0.7s;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-top: 0;
    background-color: var(--main_bg_color_wt);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    transition: border-bottom 0s;
}
.navbar_container.active nav {
    padding: 0 14px 10px 14px;
    max-width: 100%;
    transition: all 1s;
}

.navbar_container.active .navbar_box1 h1 {
    font-size: 1.2rem;
}
.navbar_box1 h1 {
    margin-left: 20px;
    font-size: 1.6rem;
    color: var(--text-main-color);
    font-weight: 600;
}

.navbar_container nav .navbar_box1 img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
    transition: all 1s;
    animation-name: logoAnim1;
    animation-timing-function: ease-out;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-direction: alternate;
}
.navbar_container nav .navbar_box1 img.active {
    width: 40px;
    height: 40px;
    transition: all 1s;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
    transition: all 1s;
}

.navbar_box1,
.navbar_box2 ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}
.navbar_box2 ul li a {
    text-decoration: none;
}
.navbar_box1 {
    align-items: center;
    cursor: pointer;
}

.navbar_search_box {
    position: relative;
    align-items: center;
    margin-left: 20px;
}
.navbar_search_box input {
    padding: 0.6rem 1.25rem;
    color: var(--text-main-color);
    border-radius: 0.8rem;
    border: 0;
    outline: none;
    background-color: rgb(241, 237, 237);
    cursor: pointer;
    outline: none;
    transition: all 0.5s;
}
.navbarsearch_input.active {
    padding: 0.6rem 1.25rem;
    width: 0;
}
.navbarsearch_input.active1 {
    padding: 0.6rem 1rem;
    width: auto;
}
.navbar_search_box input::placeholder {
    color: var(--text-main-color);
    font-size: 14px;
}
.navbar_search_box i {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    cursor: pointer;
    color: var(--text-main-color);
    z-index: 100;
}
.navbar_box2 ul li {
    padding: 10px 5px;
    border-radius: 20vh;
    transition: all 0.5s;
}
.navbar_box2 ul li.active {
    padding-top: 0;
    padding-bottom: 0;
}
.navbar_box2 ul li a {
    padding: 0 10px;
    font-size: 1.1rem;
    color: var(--text-main-color);
    transition: all 0.7s;
}
.navbar_box2 ul li a:hover {
    color: var(--main_bg_color_bl);
}
.navbar_box2 ul li.active {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(197, 195, 195);
}
.responsive_navbar_box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    opacity: 0;
    transform: translateY(-400px);
    visibility: hidden;
    transition: all 0.5s;
    z-index: -1;
    border-radius: 30px;
    margin-top: 2px;
}
.responsive_navbar_box.active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    padding: 0;
}
.responsive_navbar_box ul {
    width: 540px;
    display: block;
    background-color: whitesmoke;
    border-radius: 30px;
}
.responsive_navbar_box ul li:nth-child(1) {
    background-color: var(--main_bg_color_wt);
    border-radius: 30px 30px 0 0;
}
.responsive_navbar_box ul li:nth-child(1) a {
    color: var(--main_bg_color_bl);
}
.responsive_navbar_box ul li {
    list-style: none;
    padding: 1rem 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.138);
    cursor: pointer;
}
.responsive_navbar_box ul li:last-child {
    border-bottom: 0;
    border-radius: 0 0 30px 30px;
}

.responsive_navbar_box ul li a {
    text-decoration: none;
    font-size: 14px;
    color: var(--text-main-color);
    font-weight: 400;
    transition: all 0.7s;
}
.responsive_navbar_box ul li:hover a {
    color: var(--main_bg_color_wt);
}

.navbar_menu {
    width: 26px;
    height: 30px;
    cursor: pointer;
    display: none;
    position: relative;
}

.navbar_menu .line1,
.line2,
.line3 {
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: rgb(142, 142, 142);
    transition: all 0.5s;
}
.navbar_menu .line1 {
    top: 6px;
}
.navbar_menu .line2 {
    top: 14px;
}
.navbar_menu .line3 {
    top: 22px;
}

.navbar_menu.active .line2 {
    visibility: hidden;
    opacity: 0;
}
.navbar_menu.active .line1 {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    width: 28px;
    transform: rotateZ(45deg);
}
.navbar_menu.active .line3 {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    width: 28px;
    transform: rotateZ(-45deg);
}
/*===========================slider-section=============================*/

.banner_content {
    padding: 60px;
    height: 500px;
    width: 100%;
    justify-content: center;
    text-align: center;
    transition: all 0.5s;
    position: relative;
}
.banner_content::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1;
    opacity: 0.5;
}
.mySlides {
    display: none;
    height: 100%;
}
.mySlides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

/*===========================about-section=============================*/
.about_container {
    padding-top: 6.25rem;
}
.about_box {
    padding: 0 6rem;
}
.about_box h1 {
    text-align: left;
    margin-bottom: 1.875rem;
    position: relative;
    display: inline-block;
    font-size: 1.8rem;
}
.about_box h1::before {
    content: " ";
    position: absolute;
    height: 2px;
    background-color: var(--main_bg_color_bl);
    bottom: -5px;
    width: 100%;
}
.about_paragraph {
    text-align: left;
    max-width: 1100px;
}

.about_paragraph p {
    line-height: 1.8rem;
    color: #555;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 1.5px;
}
/*===========================statistic-section=============================*/

.static_container {
    padding: 80px 0;
    padding-left: 0;
    background-image: url(img/statisticbanner_img.jpg);
    overflow: hidden;
    background-position: 300%;
    background-size: cover;
    animation: image_position linear infinite 16s;
    background-repeat: no-repeat;
    position: relative;
}
.static_container::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;
}
.static_box {
    display: flex;
    justify-content: space-between;
    padding: 0 6rem;
}
.static_row_box {
    display: flex;
    flex-direction: column;
    width: 8rem;
    height: 8rem;
    border-radius: 50vw;
    text-align: center;
    justify-content: center;
    position: relative;
    color: var(--main_bg_color_wt);
    background-color: #c2c0c07b;
}
.static_row_box:after {
    content: " ";
    position: absolute;
    top: -10px;
    bottom: -10px;
    right: -10px;
    left: -10px;
    border: 1px solid var(--main_bg_color_wt);
    border-radius: 50%;
}
.static_row_box h2 {
    font-size: 2rem;
    font-weight: 200;
}
.static_row_box p {
    font-size: 1rem;
    font-weight: 100;
}
/*===========================news-section=============================*/
.news_container {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
}
.news_content {
    padding: 0 6rem;
}
.news_cards {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 30px;
}
.news_content h1 {
    text-align: left;
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
    font-size: 2rem;
}
.news_content h1::before {
    content: " ";
    position: absolute;
    height: 2px;
    background-color: var(--main_bg_color_bl);
    bottom: -5px;
    width: 100%;
}
.news_boxes {
    overflow: hidden;
    width: 360px;
    border-radius: 0.2rem;
}

.news_boxes:first-child {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left: 0;
}
.news_boxes:last-child {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-right: 0;
}

.news_boxes .news_box_inside {
    display: flex;
    flex-direction: column;
    background-color: var(--main_bg_color_wt);
    overflow: hidden;
    height: 100%;
    align-self: stretch;
}

.news_box_img {
    height: 220px;
}
.news_box_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news_box_info {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.news_box_info h2 {
    font-size: 1.1rem;
    margin-bottom: 0;
    font-weight: 600;
    line-height: 22px;
    padding: 10px 18px 18px;
}
.news_box_info p {
    padding: 0 18px 18px;
    margin-bottom: 20px;
    color: #555;
    font-size: 0.8rem;
}
.news_info_time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.172);
    padding: 8px 18px 8px 18px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.news_info_time p {
    margin: 0;
    font-size: 0.8rem;
    padding: 0;
}
.news_info_time a {
    text-decoration: none;
    color: var(--text-main-color);
    align-items: center;
    transition: all 0.5s;
    font-size: 0.8rem;
    color: #000;
    cursor: pointer;
}
.news_info_time a:hover {
    color: #0cc1e1;
}
/*===========================map-section=============================*/
.map_container {
    margin-top: 6.25rem;
    padding: 4rem 0;
    border-top: 2px solid rgba(12, 193, 225, 0.139);
    border-bottom: 2px solid rgba(12, 193, 225, 0.139);
}
.map_content {
    padding: 0 6rem;
    display: flex;
}
.map_left_column {
    width: 50%;
    padding-right: 1rem;
}
.map_right_column {
    width: 50%;
    padding-left: 1rem;
}
.map_right_column .map_links a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 0.75rem 1.25rem;
    background-color: #c2c0c07b;
    border-radius: 2rem;
    margin-bottom: 40px;
    font-size: 1.3rem;
    transition: all 0.3s;
    font-weight: 500;
}
.map_right_column .map_links a:hover {
    background-color: rgb(137, 200, 212);
    color: black;
}
.map_box {
    width: 100%;
    fill: rgb(228, 224, 224);
    stroke: black;
    stroke-width: 0.8px;
}
.map_box svg path {
    cursor: pointer;
    transition: all 0.3s;
}

.map_box svg path:hover {
    fill: rgb(137, 200, 212);
}
/*===========================footer=============================*/
.footer_container {
    margin-top: 6.25rem;
    background-color: #1a1a1a;
}
.footer_content {
    max-width: 1560px;
    margin: 0 auto;
    padding: 0 6rem;
}
.footer_top_row ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 2rem 0;
}
.footer_top_row ul li {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: end;
}

.footer_top_row ul li a {
    font-size: 12px;
    margin-bottom: 0.625rem;
    color: var(--main_bg_color_wt);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 800;
    letter-spacing: 2px;
}
.footer_top_row ul li a:last-child {
    margin: 0;
}
.footer_top_row ul li a:hover {
    color: var(--main_bg_color_bl);
}
.footer_top_row ul li img {
    width: 3.75rem;
    height: 3.75rem;
    object-fit: cover;
    margin-bottom: 0.625rem;
}
.footer_top_row ul li h3 {
    text-align: left;
    font-weight: 600;
    font-size: 0.875rem;
    color: var(--main_bg_color_wt);
    letter-spacing: 1px;
}
.footer_bottom_row {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 0.75rem;
    border-top: 1px solid rgba(255, 255, 255, 0.331);
}
.footer_bottom_row i {
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 50vw;
    border: 1px solid white;
    color: var(--main_bg_color_wt);
    font-size: 1rem;
    transition: all 0.5s;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.footer_bottom_row i:hover {
    color: var(--main_bg_color_bl);
    border: 1px solid var(--main_bg_color_bl);
}
/*===========================onlinecontact-section=============================*/

.contact_corner_box {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--text-main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    transition: all 0.3s;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.439);
}

.contact_corner_box.active {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 18.75rem;
    height: 28.125rem;
    border-radius: 0.6rem;
    background-color: #e3e0e0;
    background-size: cover;
    z-index: 1000;
    transition: all 0.3s;
    overflow: hidden;
    z-index: 1000;
}
.contact_corner_box.activemob {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    border-radius: 0;
    background-color: #e3e0e0;
    z-index: 1000;
    transition: all 0.3s;
    overflow: hidden;
    z-index: 1000;
}

.contact_corner_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.contact_corner_content.active {
    display: none;
}
.contact_corner_box .chat_open_btn {
    font-size: 1.4rem;
    transition: all 0.1s;
}
.contact_corner_box .chat_open_btn:hover {
    font-size: 1.6rem;
}
.chat_open_btn {
    display: flex;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
}
.chat_open_btn.active {
    display: none;
}

.contact_header {
    display: flex;
    justify-content: space-between;
    background-color: var(--text-main-color);
    padding: 1rem;
    width: auto;
    visibility: visible;
    opacity: 1;
}
.contact_header .message_box_remove_btn {
    cursor: pointer;
    font-size: 1.3rem;
    color: white;
}

.contact_header_title_box {
    display: flex;
    flex-direction: column;
}
.contact_header_title_box h3 {
    font-weight: 500;
    color: white;
    letter-spacing: 1px;
}
.contact_header_title_box div {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: 5px;
    color: white;
    font-weight: 500;
    letter-spacing: 1xp;
}
.contact_header_title_box div i {
    color: rgb(30, 255, 0);
    font-size: 10px;
}
.contact_chat_box {
    width: 100%;
    height: 50vh;
    overflow-x: hidden;
    word-break: break-all;
    padding: 1rem 1rem 0 1rem;
    align-self: stretch;
    max-height: 400px;
    background: url(img/contact-background-pattern-01\ .svg);
}

.message_box {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 5px;
}
.message_box h3 {
    font-size: 1rem;
    color: var(--text-main-color);
    font-weight: 600;
    padding-right: 0.625rem;
    text-align: center;
}
.message_box div {
    width: 100%;
}
.message_box p {
    display: inline-flex;
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    color: white;
    font-weight: 300;
    background-color: var(--text-main-color);
    padding: 0.5rem 0.625rem;
    border-radius: 0.4rem;
    text-align: left;
}
.contact_input_box {
    width: 100%;
    background-color: var(--text-main-color);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact_input_box input {
    border: 0;
    border-radius: 10vw;
    padding: 0.625rem 0.75rem;
    color: rgba(0, 0, 0);
    font-size: 0.875rem;
    background-color: #e3e0e0;
}
.contact_input_box input::placeholder {
    color: var(--text-main-color);
}
.contact_input_box i {
    color: var(--main_bg_color_bl);
    font-size: 1.2rem;
    cursor: pointer;
}
.contact_input_box i:hover {
    animation: sendmsg 0.8s linear;
}

/* ============================================================ */
/* ==============(services.html)CATEGORY SECTION=============== */
/* ============================================================ */

.main-container {
    width: 100%;
    height: auto;
    margin-top: 50px;
    padding: 4rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 2rem;
    transition: padding-right 1s, padding-left 1s;
}

.main-container.active {
    padding-right: 1rem;
    padding-left: 1rem;
}

/*=============== left - section ============ */

.left-section {
    width: 270px;
    height: 100%;
}

.category-form {
    margin-bottom: 0.3rem;
    width: 100%;
    border-radius: 0.4rem;
}

.category-box {
    width: 100%;
    color: var(--text-main-color);
    font-size: 1.1rem;
    font-weight: 900;
    background-color: var(--main_bg_color_wt);
    padding: 1rem 1.5rem;
    position: relative;
    border-radius: 0.4rem;

    cursor: pointer;
}

.arrow {
    position: absolute;
    top: 0;
    right: 1.5rem;
    bottom: 0.4rem;
    margin: auto 0;
    width: 9px;
    height: 9px;
    border-left: 3px solid var(--text-main-color);
    border-bottom: 3px solid var(--text-main-color);
    border-top: 2px solid none;
    border-right: 2px solid none;
    transform: rotate(-45deg);
    border-radius: 1px;
    transition: transform 0s;
}

.rotate {
    transform: rotate(135deg);
    border-color: var(--main_bg_color_bl);
    transition: transform 0s;
}

.categories-all {
    padding: 0 1.5rem 0.3rem 1.5rem;
    background-color: var(--main_bg_color_wt);
    display: none;
    flex-direction: column;
    justify-content: start;
    max-height: 300px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.category-box:hover {
    background-color: rgb(227, 226, 226);
}

.overflowScrollBar {
    overflow-y: hidden;
}

.categories-all.display {
    display: flex;
}

.category-input {
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 1rem;
    font-size: 1rem;
    position: relative;
    cursor: pointer;
    border-radius: 0.3rem;
    padding: 0 0.3rem;
}

.category-input::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgb(241, 239, 239);
    border-radius: 10px;
    z-index: 1;
}

.category-input:hover {
    background-color: rgb(228, 225, 225);
}

.category-input:hover::before {
    transition: 0.5s;
    animation-name: underline-hover;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-duration: 0.5s;
    overflow: hidden;
    background-color: var(--main_bg_color_bl);
}

.category-input label {
    font-weight: 500;
    width: 100%;
    height: 100%;
    letter-spacing: 1px;
    padding: 1rem 0;
    cursor: pointer;
}

.category-input input {
    margin: 0.9rem 0;
}

.category-input input[type="checkbox"] {
    cursor: pointer;
    width: 17px;
    height: 17px;
}

/* =================right - section =================*/

.right-section {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    flex-grow: 1;
}

.container-info {
    margin-bottom: 0.5rem;
    border-radius: 0.2rem;
    overflow: hidden;
}

.right-section .title {
    padding: 1.5rem 1rem;
    font-size: 1.15rem;
    font-weight: 900;
    background-color: var(--main_bg_color_wt);
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    z-index: 100;
}

.main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    padding-right: 1rem;
    z-index: -1;
}

.more-info {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    color: #696565;
    font-weight: 900;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: start;
    align-items: center;
    gap: 0 1.3rem;
    z-index: 1;
}

.span {
    font-size: 0.9rem;
    font-weight: 900;
    color: black;
}

.right-section .title:hover {
    background-color: rgb(235, 235, 235);
}

.right-section .title .plus-icon {
    color: rgb(104, 104, 104);
    font-size: 1.3rem;
    rotate: 0deg;
    transition: rotate 0.3s;
}

.right-section .title .plus-icon.rotatePlusIcon {
    rotate: 45deg;
    transition: rotate 0.3s;
    color: rgb(19, 128, 147);
}

.right-section .description {
    display: none;
    background-color: var(--main_bg_color_wt);
    border-top: 2px solid var(--text-main-color);
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    animation-name: dropdown;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-duration: 0.2s;
    animation-delay: 0s;
}

.right-section .description p {
    font-size: 0.95rem;
    line-height: 1.2rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.right-section .description.display {
    display: flex;
}

.right-section .description .seeMorelink,
.right-section .description .seeMorelink:link,
.right-section .description .seeMorelink:visited,
.right-section .description .seeMorelink:active {
    color: #000000;
    font-weight: 900;
    background-color: rgb(234, 234, 234);
    align-self: end;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    text-decoration: none;
}

.right-section .description .seeMorelink:hover {
    background-color: rgb(213, 213, 213);
}

.seemore-btn {
    display: none;
    margin: 1rem auto;
    padding: 0.5rem 2rem;
    border: none;
    font-size: 0.8rem;
    font-weight: 900;
    color: var(--text-main-color);
    border-radius: 0.3rem;
    cursor: pointer;
}

.seemore-btn:hover,
.seemore-btn:focus {
    scale: 1.01;
    background-color: rgb(220, 220, 220);
    color: var(--text-main-color);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

.seemore-btn.display {
    display: flex;
}
/* =========================================================== */
/* ==============(contact.html)contact-section================ */
/* =========================================================== */

.ftr {
    margin-top: 3rem;
}

.contact_container {
    margin-top: 6.55rem;
    width: 100%;
}
.contact_content {
    display: flex;
    padding: 0 6rem;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
}
.contact_left_column {
    padding: 1rem;
    width: 100%;
}
.contact_left_column form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;
}

.contact_left_column h1 {
    margin-bottom: 1rem;
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--text-main-color);
    font-family: "Poppins", sans-serif;
}

.contact_left_column form input {
    padding: 8px 12px;
    border: 1px solid rgba(0, 0, 0, 0.264);
    font-size: 0.875rem;
    border-radius: 0.2rem;
    outline: none;
}
.contact_left_column form textarea {
    padding: 8px 12px;
    border: 1px solid rgba(0, 0, 0, 0.264);
    font-size: 0.875rem;
    border-radius: 0.2rem;
    outline: none;

    resize: none;
}
.contact_left_column form button {
    padding: 0.875rem 1rem;
    border-radius: 0.2rem;
    border: none;
    font-size: 1.1rem;
    color: white;
    background-color: #056779;
    cursor: pointer;
    transition: all 0.5s;
}
.contact_left_column form button:hover {
    background-color: #2b8a9b;
}

.contact_right_column {
    padding: 4.78rem 2rem 0 2rem;
    width: 100%;
}
.contact_right_column_inside {
    background-color: whitesmoke;
    display: inline-block;
    padding: 1.25rem 2rem;
    border-radius: 0.2rem;
}
.contact_right_column h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-main-color);
    font-family: "Poppins", sans-serif;
}
.contact_right_column ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contact_right_column ul li p {
    font-size: 1.25rem;
    color: var(--text-main-color);
}
/*===========================mediaquery-section=============================*/
@media (max-width: 1200px) {
    .navbar_search_box {
        display: none;
    }
    .static_box {
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 3rem;
    }
    .about_box {
        padding: 0 3rem;
    }
    .news_content {
        padding: 0 3rem;
    }
    .map_content {
        padding: 0 3rem;
    }
    .map_right_column .map_links a {
        font-size: 1rem;
    }
    .footer_content {
        padding: 0 3rem;
    }
    .news_cards {
        height: 400px;
    }
    .contact_content {
        padding: 0 3rem;
    }
}

@media (max-width: 1030px) {
    .news_content h1 {
        display: flex;
        justify-content: center;
    }
    .news_content h1::before {
        width: 177px;
    }
    .news_cards {
        justify-content: space-around;
        flex-wrap: wrap;
        height: auto;
    }
    .news_boxes {
        width: 300px;
    }
    .news_box_img {
        height: 220px;
    }
    .news_boxes:first-child {
        border-radius: 0.2rem;
        padding: 0;
    }
    .news_boxes:last-child {
        border-radius: 0.2rem;
        padding: 0;
    }
    .news_boxes {
        padding: 0;
        margin-top: 2.25rem;
    }
    .about_box h1 {
        display: flex;
        justify-content: center;
    }
    .about_box h1::before {
        width: 166px;
    }
    .map_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .map_left_column,
    .map_right_column {
        width: 100%;
        padding: 0;
    }
    .map_links {
        width: 100%;
        justify-content: center;
    }
    .map_right_column .map_links a {
        margin-bottom: 1.25rem;
    }

    nav {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        transition: padding 1s;
    }

    .main-container {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        transition: padding 1s;
    }
}

@media (max-width: 955px) {
    .static_container {
        padding: 2.5rem 0;
    }
    .navbar_search_box {
        display: none;
    }
    .navbar_box2 ul li {
        display: none;
    }
    .navbar_menu {
        display: block;
    }
    .navbar_box1 h1 {
        font-size: 1.2rem;
    }
    .static_box {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .static_row {
        padding: 0 2rem;
        margin-top: 40px;
    }
    .contact_content {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .contact_right_column {
        padding: 1rem;
        padding-top: 0;
        width: 100%;
    }
    .contact_right_column_inside {
        width: 100%;
        display: block;
    }
}

@media (max-width: 790px) {
    .news_boxes {
        width: 90%;
    }
    .main-container {
        margin-top: 70px;
        flex-direction: column;
        /* justify-content: center; */
        align-items: stretch;
        padding: 2rem 0;
    }

    .category-form {
        flex-direction: column;
        align-items: center;
        justify-content: start;
        background-color: var(--main_bg_color_wt);
    }

    .category-box {
        text-align: left;
        margin-bottom: 0.3rem;
    }

    .left-section {
        width: 100%;
        height: fit-content;
    }

    .right-section {
        width: 100%;
    }

    .categories-all {
        width: 100%;
    }

    .category-input {
        margin: 0 auto;
        text-align: left;
    }
    .footer_content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .footer_top_row {
        width: 80%;
    }
    .footer_top_row ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .footer_top_row ul li {
        margin-bottom: 1.2rem;
    }
    .footer_top_row ul li:first-child {
        margin-bottom: 3rem;
    }
    .footer_top_row ul li a {
        font-size: 0.825rem;
    }
    .footer_top_row ul li h3 {
        font-size: 1rem;
    }
    .footer_bottom_row {
        border-top: 0;
        padding: 0;
        padding-left: 1rem;
        border-left: 1px solid rgba(255, 255, 255, 0.331);
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 632px) {
    nav {
        padding: 1rem;
    }

    .main-container {
        padding: 2rem 1rem;
    }

    .banner_items {
        padding: 30px;
    }
    .banner_items h1 {
        font-size: 2.6rem;
    }
    .about_box {
        padding: 0 1rem;
    }
    .about_paragraph p {
        line-height: 1.6rem;
        color: #555;
        font-size: 1.2rem;
        letter-spacing: 1.4px;
    }
    .static_row_box {
        width: 6rem;
        height: 6rem;
    }
    .static_row_box h2 {
        font-size: 1.8rem;
    }
    .static_box {
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 1rem;
    }
    .static_row {
        padding: 0 1rem;
    }
    .static_row_box p {
        font-size: 0.8rem;
    }
    .news_cards {
        justify-content: center;
    }
    .news_boxes {
        width: 90%;
    }
    .news_content {
        padding: 0 1rem;
    }
    .news_box_img {
        height: 200px;
    }
    .news_box_info p {
        font-size: 0.98rem;
    }
    .news_info_time p {
        font-size: 0.8rem;
    }
    .map_content {
        padding: 0 1rem;
    }
    .map_right_column .map_links a {
        font-size: 0.8rem;
    }
    .footer_content {
        padding: 0 1rem;
    }
    .map_right_column .map_links a {
        padding: 8px 16px;
    }
    .contact_content {
        padding: 0 1rem;
    }

    .contact_right_column_inside h1 {
        font-size: 1.25rem;
    }
    .contact_right_column_inside ul li p {
        font-size: 1rem;
    }
}

@media (max-width: 400px) {
    .navbar_box1 h1 {
        display: none;
    }
    .news_boxes {
        width: 100%;
    }
}

@keyframes logoAnim1 {
    0% {
        opacity: 0;
        transform: rotate(180eg) scale(0.2);
    }

    50% {
        opacity: 0.5;
        transform: rotate(-360deg) scale(0.7);
    }

    100% {
        opacity: 1;
        transform: rotate(-360deg) scale(1);
    }
}

@keyframes image_position {
    0% {
        background-position: 36% 42%;
        background-size: 100%;
    }

    20% {
        background-position: 40% 46%;
        background-size: 100%;
    }

    40% {
        background-position: 44% 50%;
        background-size: 100%;
    }

    80% {
        background-position: 40% 46%;
        background-size: 100%;
    }

    100% {
        background-position: 36% 42%;
        background-size: 100%;
    }
}

@keyframes sendmsg {
    0% {
        transform: rotate(10deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0);
    }
}
